{
  "extends": "airbnb",
  "rules": {
    "strict": ["warn", "never"],
    "import/no-unresolved": ["warn", { commonjs: true, caseSensitive: true }],
    "import/extensions": ["warn", "always", {
      js: "never",
      jsx: "never"
    }]
  }
}
